---

---

<header id="header" class="p-4 mb-10 flex-col bg">
  <h1 class="text-xl font-medium mb-1 text-text-primary">Jihyuk Ma</h1>

  <!-- <a
    href="https://github.com/majih93"
    target="_blank"
    rel="noopener noreferrer"
    class="text-gray-900 block w-fit"
  >
    Github
  </a>
  <a
    href="https://www.linkedin.com/in/%EC%A7%80%ED%98%81-%EB%A7%88-423844196/"
    target="_blank"
    rel="noopener noreferrer"
    class="text-gray-900"
  >
    LinkedIn
  </a> -->
</header>
